{% extends "layout.njk" %}

{% block content %}
    <section class="articles">
            <h3>{{ article.title }}</h3>
            <per>{{article.contentHTML | safe}}</per>
    </section>
{% endblock %}

{% block footer %}
    <script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlighting()</script>
{% endblock %}