{% extends "layout.njk" %}

{% block content %}
    {% for item in articles %}
        <section class="article">
            <h3 class="article-title"><a href="/articles/{{item.id}}">{{ item.title }}</a></h3>
            <div class="article-description">{{item.description | safe}}</div>
            <div class="article-meta">
                <time>{{item.createdAt | date('YYYY年MM月DD号')}}</time>
            </div>
            <hr class="article-divider">
        </section>
    {% endfor %}
{% endblock %}
