<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="_csrf" data-value="{{csrf}}">
    <link rel="stylesheet" href="{{assets('app.css')}}">
    <title>{%block title%} 首页 {% endblock %}</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="page-wrapper">
        <header class="page-navbar">
            <ul class="navbar-list">
                <li class="navbar-item"><a href="/" class="{{ "active" if module === 'home' else "" }}">HOME</a></li>
                <li class="navbar-item"><a href="/articles" class="{{ "active" if module === 'article' else "" }}">ARTICLES</a></li>
                <li class="navbar-item"><a href="https://github.com/lijianzhang" target="_blank">GITHUB</a></li>
            </ul>
        </header>
        <h1>{{flashMessage.toString() }}</h1>
        <div class="page-container">
            {% block content %}

            {% endblock %}
        </div>
    </div>
    {% block footer %}
    {% endblock %}
    <script src="{{assets('app.js')}}"></script>
</body>
</html>