{% extends "layout.njk" %}

{% block content %}
    <div>
        <form action="/auth/sign_in" method="post">
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <input type="text" name="username">
            <input type="passwrod" name="password">
            <button type="submit">sign in</button>
        </form>
    </div>
{% endblock %}

